extends layout

block vars
  - var title = 'Actions';

{% load static from staticfiles %}
{% load widget_tweaks %}

block navbar-center
  div.uk-navbar-content.uk-navbar-center: {{ request.user.get_full_name }}

block content
  div.uk-container.uk-container-center
    div.uk-grid(data-uk-grid-margin)
      div.uk-width-medium-1-4
        ul.uk-nav.uk-nav-side(data-uk-switcher="{connect:'#tab-1', animation: 'slide-vertical'}")
          li.uk-active: a(href="#") Check-In
          li: a(href="#") Passengers
          li: a(href="#") Search
      div.uk-width-medium-3-4
          ul#tab-1.uk-switcher
            li.uk-active
              div.uk-block.uk-block-muted
                div.uk-container
                  h3 Check-In
                  p Hello from fligths
            li
              div.uk-block.uk-block-muted
                div.uk-container
                  h3 Passengers
                  p Hello from passengers
            li
              div.uk-block.uk-block-muted
                div.uk-container
                  h3 Search
                  form.uk-panel.uk-panel-box.uk-form(action="{% url 'bt_profile' %}", method="post")
                    {% csrf_token %}
                    {% with WIDGET_ERROR_CLASS='uk-form-danger' WIDGET_REQUIRED_CLASS='required' %}
                    div.uk-grid(data-uk-grid-margin)
                      div.uk-width-medium-1-2
                        div.uk-panel
                          div.uk-form-row
                            {{ form.pnr.errors|safe }}
                            {% render_field form.pnr class="uk-width-1-1 uk-form-medium" placeholder=form.pnr.label %}
                          div.uk-form-row
                            {{ form.material_number.errors|safe }}
                            {% render_field form.material_number class="uk-width-1-1 uk-form-medium" placeholder=form.material_number.label %}
                    div.uk-grid(data-uk-grid-margin)
                      div.uk-width-medium-1-4.uk-container-center
                        div.uk-form-row
                        button.uk-width-1-1.uk-button.uk-button-primary.uk-button-medium(type="submit") Search
                    {% endwith %}
