{% extends "base.html" %}
{% block container %}



<form action="{% url 'bg-checkin' %}" method="post">
	{% csrf_token %}

	{% for field in form %}
	{% ifequal field.auto_id "id_material_number" %}
		Material Number:

	<input id= {{ field.id_for_label }} type="text" value="{{ tag }}">
	<br>

	{% else %}
		Passageiro: {{ field }}
	{% endifequal %}
	{% endfor %}

	<br>
	<button type="submit">Cadastrar</button>


<button class="btn" name="read">Ler</button>


</form>

<a href="{% url 'bg-index' %}">Voltar pagina inicial</a>


{% endblock %}
