{% extends "base.html" %}
{% block container %}
<html>
<head>
	<title>FLIGTHS</title>



{% if fligths %}
    <h1>FLIGTHS</h1>
    <table border="1">
     <tr>
    <td>Numero do voo</td>
  </tr>
    {% for fligth in fligths %}



  <tr>
    <td><a href="{% url 'bt_airline' fligth.airline %}/">{{ fligth.airline }} </td>

  </tr>


    {% endfor %}
</table>
    <br><br><br><br><br><br>

{% else %}
    <p>Nenhuma voo disponivel.</p>
{% endif %}
<a href="{% url 'bt_index' %}">Voltar pagina pessoal</a>
{% endblock %}