<!DOCTYPE html>
<html lang="en">
<head>
  <title>BagTrekkin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>




<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
  <div class="panel-body">
     <!-- Main component for a primary marketing message or call to action -->
     <div class="jumbotron">

<div class="container">
  <h2>BagTrekkin</h2>
  <div class="row">
    <div class="col-sm-6" style="background-color:lavender;"  align="center">
	<br><br>
	<div class="top" id="ufpe"><img src="media/logo_bag.jpg" width="456" height="152"/></div
	<br><br><br>
	    <ul class="nav">
        <li><a href="{% url 'bg-signup' %}">Cadastre-se</a></li>
        <li><a href="{% url 'bg-login' %}">Login</a></li>
     	</ul>

    </div>
    <div class="col-sm-6" style="background-color:lavenderblush;">
      <div class="bs-docs-example">
    <ul id="myTab" class="nav nav-tabs">
      <li class="active"><a href="#comofunciona" data-toggle="tab">Como Funciona?</a></li>
      <li><a href="#contato" data-toggle="tab">Contato</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade in active" id="comofunciona">
        <p>Detalhar como funciona nosso sistema.</p>
      </div>
      <div class="tab-pane fade" id="comofunciona">
        <p>Como funciona?</p>
      </div>
      <div class="tab-pane fade" id="contato">
        <p>Nossos contatos.</p>
      </div>
    </div>
</div>
    </div>
  </div>
</div>


<object type></object>

</div>
</div>
</div>
<div class="panel-footer"><div align="right">
</div></div>
</body>
</html>


