<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>
<!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Bagtrekkin StartUP website</title>
<!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- CSS
    ================================================== -->
    <!-- Bootstrap  -->
    <link type="text/css" rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <!-- web font  -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,400' rel='stylesheet' type='text/css'>
    <!-- plugin css  -->
    <link rel="stylesheet" type="text/css" href="static/js-plugin/magnific-popup/magnific-popup.css" />
    <link type="text/css" rel="stylesheet" href="static/js-plugin/isotope/css/style.css">
    <!-- nekoAnim-->
    <link rel="stylesheet" type="text/css" href="static/js-plugin/appear/nekoAnim.css" />
    <!-- Owl carousel-->
    <link rel="stylesheet" href="static/js-plugin/owl.carousel/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="static/js-plugin/owl.carousel/owl-carousel/owl.transitions.css">
    <link rel="stylesheet" href="static/js-plugin/owl.carousel/owl-carousel/owl.theme.css">
    <!-- icon fonts -->
    <link type="text/css" rel="stylesheet" href="static/font-icons/custom-icons/css/custom-icons.css">
    <!-- Custom css -->
    <link type="text/css" rel="stylesheet" href="static/css/layout.css">
    <link type="text/css" id="colors" rel="stylesheet" href="static/css/colors.css">
    <link type="text/css" rel="stylesheet" href="static/css/custom.css">
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
    <script src="static/js/modernizr-2.6.1.min.js"></script>
<!-- Favicons
    ================================================== -->
</head>
	
    <body data-spy="scroll" data-target="#resMainMenu" data-offset="150" id="onePage" class="activateAppearAnimation headerTransparent">
                <div class="collapse navbar-collapse" id="mainMenu">
                    <!-- Main navigation -->
                    <ul class="nav navbar-nav pull-right">
                        <li class="active"><a href="https://bagtrekkin.herokuapp.com/home" >Home</a></li>
                        <li class="sep"></li>
                        <li><a href="#about">About us</a></li>
                        <li class="sep"></li>
                        <li><a href="#works">Our works</a></li>
                        <li class="sep"></li>
                        <li><a href="#services">Our services</a></li>
                        <li class="sep"></li>
                        <li><a href="#team">Our team</a></li>
                        <li class="sep"></li>
                        <li> <a href="#contactSlice">Contact</a> </li>
                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- header -->
    <!-- ======================================= content ======================================= -->

    <!-- slider -->
    <section id="homeFullScreen">
        <div class="maskParent">
            <div id="fullScreenSliderWrapper">
                <div class="blockCenter">
                     <img class="img-responsive" src="static/images/parallax.png" /> </div>
                    <div class="owl-carousel nekoDataOwl" data-neko_items="1" data-neko_singleitem="true" data-neko_paginationnumbers="true" data-neko_transitionstyle="backSlide">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- slider -->
    <!-- about -->
    <section id="about" class="color0">
        <div class="col-md-12 text-center pt30 pb30">
            <h1>About us</h1>
            <h2 class="subTitle">Uma start up que nasceu em Recife com o objetivo de criar uma solução para automatizar o inventário de malas e prevenir o problema de extravios de bagagem de companhias aéreas através de tecnologia RFID.</h2>
        </div>
        <section class="pt30">
            <div class="container">
                <div class="row">
                    <center> <img src="static/images/main-logo.png"  alt="services" class="img-responsive"> </center>
                    
                </div>
            </div>
        </section>
    </section>
    <!-- about -->
    <!-- works -->
    <section class="parallaxSection image-1" data-stellar-background-ratio="0.5" id="works">
        <div class="maskParent">
            <div class="bgMask"></div>
            <div class="paralaxText container pb30 pt40">
                <div class="row">
                    <div class="col-md-12 text-center pt30 pb30">
                        <h2><i class="icon-th iconMedium iconRounded"></i>
                            <br /> Our Work
                            <br /> <small>
                            Previna extravios através de soluções RFID de forma automática e baixo custo de implantação.
                        </small> </h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- works -->
    
    <!-- works -->
    <!-- services -->
    <section id="services" class="pb40 pt40">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center mb40">
                    <h1>Our Services</h1>
                    <h2 class="subTitle">Benefícios !</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <article class="boxFeatured">
                        <a href="#">
                            <i class="icon-suitcase iconMedium"></i>
                            <h2>Inventário</h2>
                            <p>Mapear mala de um passageiro de acordo com voo realizando em tempo real.</p>
                        </a>
                    </article>
                </div>
                <div class="col-sm-3">
                    <article class="boxFeatured">
                        <a href="#">
                            <i class="icon-search iconMedium"></i>
                            <h2>Monitorar</h2>
                            <p>Monitorar percuso de malas desde do despacho da bagagem até o avião de destino.</p>
                        </a>
                    </article>
                </div>

                 <div class="col-sm-3">
                    <article class="boxFeatured">
                        <a href="#">
                            <i class="icon-key iconMedium"></i>
                            <h2>Segurança</h2>
                            <p>Assegurar que a mala chegue a o destino certo</p>
                        </a>
                    </article>
                </div>

                 <div class="col-sm-3">
                    <article class="boxFeatured">
                        <a href="#">
                            <i class="icon-thumbs-up-alt iconMedium"></i>
                            <h2>Credibilidade</h2>
                            <p>Assegure a confiança de seus passageiros</p>
                        </a>
                    </article>
                </div>
               
            </div>
        </div>
    </section>
    <!-- / services -->
    <!-- parallax -->
    <section class="parallaxSection image-3" data-stellar-background-ratio="0.5">
        <div class="maskParent">
            <div class="bgMask"></div>
            <div class="paralaxText container">
                <div class="col-md-12 text-center pt30 pb30">
                    <h2> <i class="icon-star iconMedium iconRounded"></i>
                        <br />Monitore a mala em tempo real.
                        <br />BagTrekkin, a solução eficaz. </h2>
                    </div>
                </div>
            </div>
        </section>
        <!-- / parallax -->
        <!-- team -->
        <section id="team" class="color1 pb40">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 pt40 pb40 text-center">
                        <h1>Meet our team</h1>
                        <p class="subTitle"> Conheça o time BagTrekkin </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2" data-nekoanim="fadeInUp" data-nekodelay="0">
                            <article>
                                <div><img src="static/images/team/leocountinho.jpg" alt="" class="img-responsive"></div>
                                <div class="boxContent text-center">
                                    <h3>Leonardo Coutinho</h3>
                                    <p>Gerente institucional</p>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-2" data-nekoanim="fadeInUp" data-nekodelay="100">
                            <article>
                                <div><img src="static/images/team/marcilio.jpg" alt="" class="img-responsive"></div>
                                <div class="boxContent text-center">
                                    <h3>Marcilio Melo</h3>
                                    <p>Hardware Developer</p>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-2" data-nekoanim="fadeInUp" data-nekodelay="200">
                            <article>
                                <div><img src="static/images/team/saulo.jpg" alt="" class="img-responsive"></div>
                                <div class="boxContent text-center">
                                    <h3>Saulo Albuquerque</h3>
                                    <p>Hardware Developer</p>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-2" data-nekoanim="fadeInUp" data-nekodelay="300">
                            <article>
                                <div><img src="static/images/team/paul.jpg" alt="" class="img-responsive"></div>
                                <div class="boxContent text-center">
                                    <h3>Paul Goujon</h3>
                                    <p>Software Developer</p>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-2" data-nekoanim="fadeInUp" data-nekodelay="300">
                            <article>
                                <div><img src="static/images/team/hugo.jpg" alt="" class="img-responsive"></div>
                                <div class="boxContent text-center">
                                    <h3>Hugo Rodde</h3>
                                    <p>Software Developer</p>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-2" data-nekoanim="fadeInUp" data-nekodelay="300">
                            <article>
                                <div><img src="static/images/team/raul.jpg" alt="" class="img-responsive"></div>
                                <div class="boxContent text-center">
                                    <h3>Raul Maia</h3>
                                    <p>Software Developer</p>
                                </div>
                            </article>
                        </div>
                        </div>
                <div class="row">
                        <div class="col-sm-2" data-nekoanim="fadeInUp" data-nekodelay="300">
                            <article>
                                <div><img src="static/images/team/yago.jpg" alt="" class="img-responsive"></div>
                                <div class="boxContent text-center">
                                    <h3>Yago Zacarias</h3>
                                    <p>Hardware Developer</p>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-2" data-nekoanim="fadeInUp" data-nekodelay="300">
                            <article>
                                <div><img src="static/images/team/camila.jpg" alt="" class="img-responsive"></div>
                                <div class="boxContent text-center">
                                    <h3>Camila</h3>
                                    <p>Design</p>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-2" data-nekoanim="fadeInUp" data-nekodelay="300">
                            <article>
                                <div><img src="static/images/team/david.jpg" alt="" class="img-responsive"></div>
                                <div class="boxContent text-center">
                                    <h3>David Wilson</h3>
                                    <p>Hardware Developer</p>
                                </div>
                            </article>
                        </div>
                         <div class="col-sm-2" data-nekoanim="fadeInUp" data-nekodelay="300">
                            <article>
                                <div><img src="static/images/team/heitoraraujo.jpg" alt="" class="img-responsive"></div>
                                <div class="boxContent text-center">
                                    <h3>Heitor Fonseca</h3>
                                    <p>Hardware Developer</p>
                                </div>
                            </article>
                        </div>
                         <div class="col-sm-2" data-nekoanim="fadeInUp" data-nekodelay="300">
                            <article>
                                <div><img src="static/images/team/renatoalb.jpg" alt="" class="img-responsive"></div>
                                <div class="boxContent text-center">
                                    <h3>Renato Quirino</h3>
                                    <p>Hardware Developer</p>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-2" data-nekoanim="fadeInUp" data-nekodelay="300">
                            <article>
                                <div><img src="static/images/team/arthur.jpg" alt="" class="img-responsive"></div>
                                <div class="boxContent text-center">
                                    <h3>Artur Moreno</h3>
                                    <p>Hardware Developer</p>
                                </div>
                            </article>
                        </div>      
                    
                        
                    	</div>
                <div class="row">
                        <div class="col-sm-2" data-nekoanim="fadeInUp" data-nekodelay="300">
                            <article>
                                <div><img src="static/images/team/jose.jpg" alt="" class="img-responsive"></div>
                                <div class="boxContent text-center">
                                    <h3>Jose</h3>
                                    <p>Software Developer</p>
                                </div>
                            </article>
                        </div>
                         <div class="col-sm-2" data-nekoanim="fadeInUp" data-nekodelay="300">
                            <article>
                                <div><img src="static/images/team/joaolucas.jpg" alt="" class="img-responsive"></div>
                                <div class="boxContent text-center">
                                    <h3>Yago</h3>
                                    <p>Hardware Developer</p>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-2" data-nekoanim="fadeInUp" data-nekodelay="300">
                            <article>
                                <div><img src="static/images/team/igor.jpg" alt="" class="img-responsive"></div>
                                <div class="boxContent text-center">
                                    <h3>Igor</h3>
                                    <p>Design</p>
                                </div>
                            </article>
                        </div>

                    </div>
                </div>
            </section>
            <!-- team -->

            <!-- contact-->
            <section id="contactSlice" class="color0">
                <div class="col-md-12 text-center pt30 pb30">
                    <h1 class="noSubtitle">Contact us</h1>
                </div>
                <section class="pt30 pb30">
                    <div class="container">
                        
                        <div class="row">
                            <div class="col-sm-4">
                                    </div>
                                    <form method="post" action="js-plugin/neko-contact-ajax-plugin/php/form-handler.php" id="contactfrm" role="form">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="name">Name</label>
                                                <input type="text" class="form-control" name="name" id="name" placeholder="Enter name" title="Please enter your name (at least 2 characters)" /> </div>
                                                <div class="form-group">
                                                    <label for="email">Email</label>
                                                    <input type="email" class="form-control" name="email" id="email" placeholder="Enter email" title="Please enter a valid email address" /> </div>
                                                    <div class="form-group">
                                                        <label for="phone">Phone</label>
                                                        <input name="phone" class="form-control required digits" type="tel" id="phone" size="30" value="" placeholder="Enter email phone" title="Please enter a valid phone number (at least 10 characters)"> </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label for="comments">Comments</label>
                                                            <textarea name="comment" class="form-control" id="comments" cols="3" rows="5" placeholder="Enter your message…" title="Please enter your message (at least 10 characters)"></textarea>
                                                        </div>
                                                        
                                                        </div>
                                                        <div class="col-md-8 col-md-offset-4">
                                                            <div class="result"></div>
                                                            <button name="submit" type="submit" class="btn btn-lg" id="submit"> Submit</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </section>
                                    </section>
                                    <!-- contact-->

                                    <!-- content -->
                                    <!-- footer -->
                                    <footer id="footerWrapper" class="color2">
                                        <section id="mainFooter">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-12 text-center">
                                                        <h1>Curta nossa página no Facebook!</h1>
                                                        <ul class="socialNetwork">
                                                            <li><a data-original-title="follow me on Facebook" href="#" class="tips" title=""><i class="icon-facebook-1 iconRounded"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <div id="footerRights">
                                            <div class="container">
                                                <div class="row">

                                                    <div class="col-md-12">
                                                        <p> Copyright © 2015 / All rights reserved. </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </footer>
                                    <!-- / footer -->
                                </div>
                                <!-- global wrapper -->
<!-- End Document
    ================================================== -->
    <script type="text/javascript" src="js-plugin/respond/respond.min.js"></script>
    <script type="text/javascript" src="js-plugin/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="js-plugin/jquery-ui/jquery-ui-1.8.23.custom.min.js"></script>
    <!-- third party plugins  -->
    <script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="js-plugin/easing/jquery.easing.1.3.js"></script>
    <!-- carousel -->
    <script type="text/javascript" src="js-plugin/owl.carousel/owl-carousel/owl.carousel.js"></script>
    <!-- Isotope -->
    <script type="text/javascript" src="js-plugin/isotope/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="js-plugin/isotope/jquery.isotope.sloppy-masonry.min.js"></script>
    <!-- Form Validation -->
    <script type="text/javascript" src="js-plugin/neko-contact-ajax-plugin/js/jquery.form.js"></script>
    <script type="text/javascript" src="js-plugin/neko-contact-ajax-plugin/js/jquery.validate.min.js"></script>
    <!-- LightBox system -->
    <script type="text/javascript" src="js-plugin/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Paralax -->
    <script type="text/javascript" src="js-plugin/parallax/js/jquery.stellar.min.js"></script>
    <!-- sharre -->
    <script type="text/javascript" src="js-plugin/jquery.sharrre-1.3.4/jquery.sharrre-1.3.4.min.js"></script>
    <!-- appear -->
    <script type="text/javascript" src="js-plugin/appear/jquery.appear.js"></script>
    <!-- toucheeffect -->
    <script type="text/javascript" src="js-plugin/toucheeffect/toucheffects.js"></script>
    <!-- Custom  -->
    <script type="text/javascript" src="js/custom.js"></script>
</body>

</html>
