extends layout

block vars
  - var title = 'Home';

{% load static from staticfiles %}

block scripts
  script(type="text/javascript", src="{% static 'js/components/parallax.min.js' %}")

block content
  div.uk-container.uk-container-center
    div.uk-grid(data-uk-grid-margin)
      div.uk-width-medium-1-1
        div.uk-margin.uk-text-contrast.uk-text-center.uk-flex.uk-flex-center.uk-flex-middle(data-uk-parallax="{bg: '-200'}", style="height: 350px; background-image: url(http://getuikit.com/docs/images/placeholder_800x400_2.jpg); background-size: 1223px 612px; background-repeat: no-repeat no-repeat;")
          div.uk-width-medium-1-2
            div(data-uk-parallax="{opacity: '0.9,1', scale: '0.9,1'}")
              h1.uk-text-contrast Bagtrekkin
              p.uk-text-large.
                You won't loose your bag again.