- var title = 'Home';
block vars

{% load static from staticfiles %}

doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title} - BagTrekkin
    link(rel="shortcut icon", href="{% static 'img/favicon.ico' %}", type="image/x-icon")
    link(rel="apple-touch-icon", href="{% static 'img/apple-touch-icon.png' %}")
    link(rel="apple-touch-icon", sizes="57x57", href="{% static 'img/apple-touch-icon-57x57.png' %}")
    link(rel="apple-touch-icon", sizes="72x72", href="{% static 'img/apple-touch-icon-72x72.png' %}")
    link(rel="apple-touch-icon", sizes="76x76", href="{% static 'img/apple-touch-icon-76x76.png' %}")
    link(rel="apple-touch-icon", sizes="114x114", href="{% static 'img/apple-touch-icon-114x114.png' %}")
    link(rel="apple-touch-icon", sizes="120x120", href="{% static 'img/apple-touch-icon-120x120.png' %}")
    link(rel="apple-touch-icon", sizes="144x144", href="{% static 'img/apple-touch-icon-144x144.png' %}")
    link(rel="apple-touch-icon", sizes="152x152", href="{% static 'img/apple-touch-icon-152x152.png' %}")
    link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Arvo|Open+Sans")
    link(rel="stylesheet", type="text/css", href="{% static 'css/uikit.almost-flat.min.css' %}")
  body
    block navbar
      nav.uk-navbar.uk-margin-large-bottom
        a.uk-navbar-brand.uk-hidden-small(href="{% url 'bt_index' %}") BagTrekkin
        ul.uk-navbar-nav.uk-hidden-small
          li.uk-active
            if user.is_authenticated
                a(href="{% url 'bt_search' %}"): i.uk-icon-home.uk-icon-medium
            else
                a(href="{% url 'bt_index' %}"): i.uk-icon-home.uk-icon-medium
        div.uk-navbar-flip
          ul.uk-navbar-nav.uk-hidden-small
            if user.is_authenticated
              li.uk-parent(data-uk-dropdown aria-haspopup="true" aria-expanded="false")
                a(href="#")
                  i.uk-icon-cog.uk-icon-medium
                div.uk-dropdown.uk-dropdown-navbar
                  ul.uk-nav.uk-nav-navbar
                    li: a(href="{% url 'bt_search' %}") Actions
                    li: a(href="{% url 'bt_profile' %}") Profile
                  li.uk-nav-divider
                    li: a(href="{% url 'bt_logout' %}") Logout
            else
              li
                a(href="{% url 'bt_login' %}") Login
              li
                a(href="{% url 'bt_signup' %}") Sign up
        block navbar-center

        a.uk-navbar-toggle.uk-visible-small(href="#offcanvas", data-uk-offcanvas)
        div.uk-navbar-brand.uk-navbar-center.uk-visible-small Brand

    block content

    div#offcanvass.uk-offcanvas(aria-hidden="true")
      div.uk-offcanvas-bar
        ul.uk-nav.uk-nav-offcanvas
          li.uk-active
            a(href="{% url 'bt_index' %}") Home
            if user.is_authenticated
              li
                a(href="{% url 'bt_logout' %}") Logout
            else
              li
                a(href="{% url 'bt_login' %}") Login
              li
                a(href="{% url 'bt_signup' %}") Sign up

    script(type="text/javascript", src="http://code.jquery.com/jquery-2.1.4.min.js")
    script(type="text/javascript", src="{% static 'js/uikit.min.js' %}")
    block scripts
