extends layout

block vars
  - var title = 'Search';

{% load static from staticfiles %}
{% load widget_tweaks %}

block navbar-center
  div.uk-navbar-content.uk-navbar-center
      {{ request.user.get_full_name }} - {{ request.user.employee.airport }}
block content
  div.uk-container.uk-container-center
    div.uk-grid(data-uk-grid-margin)
      div.uk-width-medium-1-5
        ul.uk-nav.uk-nav-side(data-uk-switcher="{connect:'#tab-1', animation: 'slide-vertical'}")
          li(class="{% if not active %}uk-active{% endif %}")
            a(href="#") Lost and Founds
          li(class="{% if active == 'search' %}uk-active{% endif %}")
            a(href="#") Search
          li(class="{% if active == 'history' %}uk-active{% endif %}")
            a(href="#") History
      div.uk-width-medium-4-5
        ul#tab-1.uk-switcher
            li
              div.uk-block.uk-block-muted
                div.uk-container
                  h3 Lost and Founds
                  if pbl
                    table.uk-table
                      caption PROBLEMATIC LUGGAGES
                      thead
                        tr
                          th Status
                          th Stage
                          th Airport
                          th Flight
                          th Date
                          th RFID
                      tbody
                        {% for log in pbl %}
                        tr
                          {% if log.status == 'fp' %}
                          th.uk-text-danger Absent
                          {% elif log.status == 'fn' %}
                          th.uk-text-warning Wrong location
                          {% elif log.status == 'tp' %}
                          th.uk-text-success OK
                          {% endif %}
                          th {{ log.stage }}
                          th {{ log.airport }}
                          {% if log.status == 'fp' %}
                          th.uk-text-danger {{ log.flight }}
                          {% elif log.status == 'fn' %}
                          th.uk-text-warning {{ log.flight }}
                          {% elif log.status == 'tp' %}
                          th {{ log.flight }}
                          {% endif %}
                          th {{ log.datetime }}
                          th: a(href="{% url 'bt_search' %}?rfid={{ log.luggage.material_number }}") {{ log.luggage.material_number }}
                        {% endfor %}
                  if error_pbl
                    table.uk-table
                      caption Everything OK
                      thead
                        tr
                          th Good job:
                          th {{error_pbl}}
            li
              div.uk-block.uk-block-muted
                div.uk-container
                  h3 Search
                  form.uk-panel.uk-panel-box.uk-form(action="{% url 'bt_search' %}", method="post")
                    {% csrf_token %}
                    {% with WIDGET_ERROR_CLASS='uk-form-danger' WIDGET_REQUIRED_CLASS='required' %}
                    div.uk-grid(data-uk-grid-margin)
                      if search_form.non_field_errors
                        div.uk-width-medium-1-1
                          div.uk-form-row
                            {{ search_form.non_field_errors|safe }}
                      div.uk-width-medium-5-10
                        div.uk-form-row
                          {{ search_form.pnr.errors|safe }}
                          {% render_field search_form.pnr class="uk-width-1-1 uk-form-medium" placeholder=search_form.pnr.label %}
                      div.uk-width-medium-5-10
                        div.uk-form-row
                          {{ search_form.material_number.errors|safe }}
                          {% render_field search_form.material_number class="uk-width-1-1 uk-form-medium" placeholder=search_form.material_number.label %}
                    div.uk-grid(data-uk-grid-margin)
                      div.uk-width-medium-1-4.uk-container-center
                        div.uk-form-row
                          {{ search_form.form_type.as_hidden }}
                          button.uk-width-1-1.uk-button.uk-button-primary.uk-button-medium(type="submit") Search
                    {% endwith %}
                  if passenger
                    table.uk-table
                      caption PASSENGER INFORMATION
                      thead
                        tr
                          th First name
                          th Last name
                          th Email
                      tbody
                        tr
                          th {{ passenger.first_name }}
                          th {{ passenger.last_name }}
                          th {{ passenger.email }}
                  if luggages
                    table.uk-table
                      caption LUGGAGES INFORMATION
                      thead
                        tr
                          th RFID
                      tbody
                        {% for luggage in luggages %}
                        tr
                          th: a(href="{% url 'bt_search' %}?rfid={{ luggage.material_number }}") {{ luggage.material_number }}
                        {% endfor %}
                  if logs
                    table.uk-table
                      caption LOGS INFORMATION
                      thead
                        tr
                          th Status
                          th Stage
                          th Airport
                          th Flight
                          th Date
                          th RFID
                      tbody
                        {% for log in logs %}
                        tr
                          {% if log.status == 'fp' %}
                          th.uk-text-danger Absent
                          {% elif log.status == 'fn' %}
                          th.uk-text-warning Wrong location
                          {% elif log.status == 'tp' %}
                          th.uk-text-success OK
                          {% endif %}
                          th {{ log.stage }}
                          th {{ log.airport }}
                          {% if log.status == 'fp' %}
                          th.uk-text-danger {{ log.flight }}
                          {% elif log.status == 'fn' %}
                          th.uk-text-warning {{ log.flight }}
                          {% elif log.status == 'tp' %}
                          th {{ log.flight }}
                          {% endif %}
                          th {{ log.datetime }}
                          th: a(href="{% url 'bt_search' %}?rfid={{ log.luggage.material_number }}") {{ log.luggage.material_number }}
                        {% endfor %}
                  if error_message
                    table.uk-table
                      caption RAISED ERROR
                      thead
                        tr
                          th Search error:
                          th {{error_message}}
            li
              div.uk-block.uk-block-muted
                div.uk-container
                  h3 History
                    div.uk-grid(data-uk-grid-margin)
                  if history_luggage
                    table.uk-table
                      caption LUGGAGE INFORMATION
                      thead
                        tr
                          th Material Number
                          th First Name
                          th Last Name
                          th Email
                      tbody
                        tr
                          th {{ history_luggage.material_number }}
                          th {{ history_luggage.passenger.first_name }}
                          th {{ history_luggage.passenger.last_name }}
                          th {{ history_luggage.passenger.email }}
                  if history_logs
                    table.uk-table
                      caption LOGS INFORMATION
                      thead
                        tr
                          th Status
                          th Stage
                          th Airport
                          th Flight
                          th Date
                          th RFID
                      tbody
                        {% for log in history_logs %}
                        tr
                          {% if log.status == 'fp' %}
                          th.uk-text-danger Absent
                          {% elif log.status == 'fn' %}
                          th.uk-text-warning Wrong location
                          {% elif log.status == 'tp' %}
                          th.uk-text-success OK
                          {% endif %}
                          th {{ log.stage }}
                          th {{ log.airport }}
                          {% if log.status == 'fp' %}
                          th.uk-text-danger {{ log.flight }}
                          {% elif log.status == 'fn' %}
                          th.uk-text-warning {{ log.flight }}
                          {% elif log.status == 'tp' %}
                          th {{ log.flight }}
                          {% endif %}
                          th {{ log.datetime }}
                          th: a(href="{% url 'bt_search' %}?rfid={{ log.luggage.material_number }}") {{ log.luggage.material_number }}
                        {% endfor %}
