extends layout

block vars
  - var title = 'Search';

{% load static from staticfiles %}
{% load widget_tweaks %}

block navbar-center
  div.uk-navbar-content.uk-navbar-center
      {{ request.user.get_full_name }} - {{ request.user.employee.district }}

block content
  div.uk-container.uk-container-center
    div.uk-grid(data-uk-grid-margin)
      div.uk-width-medium-1-4
        ul.uk-nav.uk-nav-side(data-uk-switcher="{connect:'#tab-1', animation: 'slide-vertical'}")
          li.uk-active: a(href="#") Search
          li: a(href="#") Lost and Founds
      div.uk-width-medium-3-4
        ul#tab-1.uk-switcher
            li
              div.uk-block.uk-block-muted
                div.uk-container
                  h3 Search
                  form.uk-panel.uk-panel-box.uk-form(action="{% url 'bt_search' %}", method="post")
                    {% csrf_token %}
                    {% with WIDGET_ERROR_CLASS='uk-form-danger' WIDGET_REQUIRED_CLASS='required' %}
                    div.uk-grid(data-uk-grid-margin)
                      div.uk-width-medium-1-2
                        div.uk-panel
                          div.uk-form-row
                            {{ search_form.pnr.errors|safe }}
                            {% render_field search_form.pnr class="uk-width-1-1 uk-form-medium" placeholder=search_form.pnr.label %}
                          div.uk-form-row
                            {{ search_form.material_number.errors|safe }}
                            {% render_field search_form.material_number class="uk-width-1-1 uk-form-medium" placeholder=search_form.material_number.label %}
                    div.uk-grid(data-uk-grid-margin)
                      div.uk-width-medium-1-4.uk-container-center
                        div.uk-form-row
                          {{ search_form.form_type.as_hidden }}
                          button.uk-width-1-1.uk-button.uk-button-primary.uk-button-medium(type="submit") Search
                    {% endwith %}
                  if passenger
                    table.uk-table
                      caption PASSENGER INFORMATIONS
                      thead
                        tr
                          th First name
                          th Last name
                          th Email
                      tbody
                        tr
                          th {{ passenger.first_name }}
                          th {{ passenger.last_name }}
                          th {{ passenger.email }}
                  if luggages
                    table.uk-table
                      caption LUGGAGES INFORMATIONS
                      thead
                        tr
                          th RFID
                          th Saving date
                      tbody
                        {% for luggage in luggages %}
                        tr
                          th {{ luggage.material_number }}
                          th {{ luggage.datetime }}
                        {% endfor %}
                  if logs
                    table.uk-table
                      caption LOGS INFORMATIONS
                      thead
                        tr
                          th RFID
                          th Localisation
                          th Date
                          th Employee
                      tbody
                        {% for log in logs %}
                        tr
                          th {{ log.luggage.material_number }}
                          th {{ log.localisation }}
                          th {{ log.horodator }}
                          th {{ log.employee }}
                        {% endfor %}
            li
              div.uk-block.uk-block-muted
                div.uk-container
                  h3 Lost and Founds
                  p Luggage list
